# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfstate.lock.info

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.env

# Docker
*.tar

# VS Code
.vscode/

# Helm
helm/sentiment-api/charts/